@import "tailwindcss";
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scrollbar-hide {
  scrollbar-width: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
